<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I am Ha Anh Nguyen, a Junior majoring in Accounting and Auditing at Foreign Trade University. With a solid foundation in logical thinking and financial principles, I am now expanding my horizons into the field of Data Science.</p>
      </div>
      <div class="col-lg-4">
        <p>This portfolio showcases my practical projects in SQL and Database Design. My goal is to transform raw numbers into meaningful insights for business decision-making. I'm always open to new connections and collaborations!</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Let's connect!
        </a>
      </div>
    </div>
  </div>
</section>
